<div class="info no-display">
    <%= render partial:"code_area" %>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
            <h2 class="section-header">Get Started</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <%= render partial: "sidenav" %>
        <section class="col-md-6 col-sm-6 col-xs-12">
            <article id="introduction" class="code-block">
                <h2>Introduction</h2>
                <p>Welcome to Buckit Rest API! You can use our API to access your bucketlist API endpoints. This can be done through create, update, index, show and destroy actions.</p>

                <p>You can view code examples in the code area to the right and navigate through menu headings and subheadings for ease.</p>

                <p>This API documentation was created for Buckit API which can be cloned on <a href="https://github.com/andela-cnwosu/buckit">Buckit Github</a>.</p>
            </article>
            <aside class="notice">
            Key words denoted in capital letters (for example, &ldquo;ACCESS_TOKEN&rdquo;) should be replaced with the appropriate values.
            </aside>
            <br />
            <article id="authentication">
                <h2>Authentication</h2>
                <p>To start using this API, log in or sign up <%= link_to 'here', register_path %> to get authenticated.</p>
                <section id="signing-up"><h3>Signing up</h3>
                    <p>You must fill the following credentials to sign up:</p>

                    <ul>
                        <li><p>User&rsquo;s first name.</p></li>
                        <li><p>User&rsquo;s last name.</p></li>
                        <li><p>User&rsquo;s email.</p></li>
                        <li><p>A User password that is at least 6 characters long.</p></li>
                        <li><p>A confirmation password that must match the User password.</p></li>
                    </ul>
                </section>
                <section id="logging-in"><h3>Logging in</h3>
                    <p>You must fill the following credentials to log in:</p>

                    <ul>
                        <li><p>User&rsquo;s email.</p></li>
                        <li><p>A valid password used when the user was signed up.</p></li>
                    </ul>
                </section>
            </article>
            <br />
            <article id="get-your-application-started">
                <h2>Get your Application Started</h2>
                <p>To use Buckit API on your application(s), you need to register your application <a href="http://buckit-api.herokuapp.com/oauth/applications">here</a>. You must provide a name and redirect URI for your application. You could also use <code class="prettyprint">urn:ietf:wg:oauth:2.0:oob</code> to test locally. Include a scope/scopes if you need to specify the permissions you request users to authorize for your application. An application Id and secret would be generated for you.</p>
            </article>
            <br />
            <article id="authorization" class="code-block">
                <h2>Authorization</h2>
                <section id="using-auth2"><h3>Using Oauth 2</h3>
                    <p>Before your application can access the user&rsquo;s data on Buckit, it must obtain an access token. Using your application id and secret, the user can get an authentication code which would be used to get the token for your application.
To get started, follow the steps below using the code area on the right as reference:</p>

                    <ol>
                        <li><p>Add <code class="prettyprint">gem &#39;oauth2&#39;</code> to your Gemfile and run bundler.</p></li>
                        <li><p>Initialize a new client.</p></li>
                        <li><p>Get the authorization url. This url is what your user should click on your page to get started with granting your application access to our API. The <code class="prettyprint">REDIRECT_URI</code> should be the same as the one you provided when you registered your application on Buckit. When the user authorizes your application, he is redirected back to <code class="prettyprint">http://REDIRECT_URI?code=AUTHORIZATION_CODE</code> . The <code class="prettyprint">AUTHORIZATION_CODE</code> would be used to get the access token.</p></li>
                        <li><p>Get the authorization code from the authorization response above by stripping the &lsquo;code&rsquo; query from the response. Get the access token with this code as shown in the code area to the right.</p></li>
                        <li><p>You can use rest-client gem to get user resources. Get started by adding <code class="prettyprint">gem &#39;rest-client&#39;</code> to your Gemfile. Then access the endpoints as shown in the code area on the right.</p></li>
                    </ol>
                </section>
            </article>
            <aside class="notice">
            The access token should be used in the request header or in the endpoint url.
            </aside>
            <br />
            <article id="endpoints">
                <h2>Endpoints</h2>
                <aside class="notice">
                    All endpoints can only be accessed by the user and do not have public access.
                </aside>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>EndPoint</th>
                        <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>POST /bucketlists/</td>
                        <td>Creates a new bucketlist for the user.</td>
                        </tr>
                        <tr>
                        <td>GET /bucketlists/</td>
                        <td>Retrieves all bucketlists belonging to the user.</td>
                        </tr>
                        <tr>
                        <td>GET /bucketlists/<id></td>
                        <td>Retrieves a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                        <tr>
                        <td>PUT /bucketlists/<id></td>
                        <td>Updates a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                        <tr>
                        <td>DELETE /bucketlists/<id></td>
                        <td>Deletes a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                        <tr>
                        <td>POST /bucketlists/<id>/items/</td>
                        <td>Creates an item in a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                        <tr>
                        <td>PUT /bucketlists/<id>/items/<item_id></td>
                        <td>Updates an item with id = <code class="prettyprint">&lt;item_id&gt;</code> in a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                        <tr>
                        <td>DELETE /bucketlists/<id>/items/<item_id></td>
                        <td>Deletes an item with id = <code class="prettyprint">&lt;item_id&gt;</code> in a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</td>
                        </tr>
                    </tbody>
                </table>
                <aside class="notice">
                We would assume that the access token is sent in the header. If you would prefer to send it in the url, append &ldquo; access_token=ACCESS_TOKEN &rdquo; as a query to the url.
                </aside>
                <section id="create-a-bucketlist" class="code-block">
                    <h3>Create a Bucketlist</h3>
                    <p>This endpoint creates a new bucketlist.</p>
                    <h4 id="http-request">HTTP Request</h4>
                    <p><code class="prettyprint">POST http://buckit-api.herokuapp.com/api/bucketlists?name=&lt;name&gt;</code></p>
                    <h4 id="query-parameters">Query Parameters</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>true</td>
                            <td>This sets the name of the bucketlist to be created. Note that the name must be unique to other bucketlists belonging to the user.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="get-all-bucketlists" class="code-block">
                    <h3>Get All Bucketlists</h3>
                    <p>This endpoint retrieves all bucketlists.</p>
                    <h4 id="http-request">HTTP Request</h4>

                    <p><strong>Searching</strong></p>

                    <p>Users can search for a bucket list by name using a query parameter q.</p>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists?q=&lt;q&gt;</code></p>

                    <p class="example">Example:</p>

                    <p><em>Request</em>: GET http://buckit-api.herokuapp.com/api/bucketlists?q=mylist</p>

                    <p><em>Response</em>: Bucketlist with the string <code class="prettyprint">mylist</code> as its name.</p>

                    <p><strong>Pagination</strong></p>

                    <p>The bucketlists can be paginated such that users can specify the number of bucketlists they would like to have using query parameters page and limit.</p>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists?page=&lt;page&gt;&amp;limit=&lt;limit&gt;</code></p>

                    <p class="example">Example:</p>

                    <p><em>Request</em>: GET http://buckit-api.herokuapp.com/api/bucketlists?page=2&amp;limit=5</p>

                    <p><em>Response</em>: <code class="prettyprint">5</code> bucketlists starting from the 6th bucketlist. First page would have bucketlists 1 to 5.</p>
                    <h4 id="query-parameters">Query Parameters</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>q</td>
                            <td>-</td>
                            <td>false</td>
                            <td>This finds a bucketlist with name = <code class="prettyprint">q</code>.</td>
                            </tr>
                            <tr>
                            <td>page</td>
                            <td>1</td>
                            <td>false</td>
                            <td>This sets a specified page with the specified number of lists.</td>
                            </tr>
                            <tr>
                            <td>limit</td>
                            <td>20</td>
                            <td>false</td>
                            <td>This sets the specified number of lists on a page. The maximum limit is 100.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="get-a-bucketlist" class="code-block">
                    <h3>Get a Bucketlist</h3>
                    <p>This endpoint retrieves a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</p>
                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;</code></p>

                    <h3 id="query-parameters">Query Parameters</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>true</td>
                            <td>This sets the name of the bucketlist to be created.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="update-a-bucketlist" class="code-block">
                    <h3>Update a Bucketlist</h3>
                    <p>This endpoint updates a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</p>
                    <h4 id="http-request">HTTP Request</h4>
                    <p><code class="prettyprint">PUT http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;?name=&lt;name&gt;</code></p>
                    <h4 id="query-parameters">Query Parameters</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>true</td>
                            <td>This updates the name of the bucketlist.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="delete-a-bucketlist" class="code-block">
                    <h3>Delete a Bucketlist</h3>
                    <p>This endpoint deletes a bucketlist with id = <code class="prettyprint">&lt;id&gt;</code>.</p>
                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">DELETE http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;</code></p>

                    <h4 id="query-parameters">Query Parameters</h4>

                    <p>This command does not require any parameter.</p>
                </section>
                <section id="create-a-bucketlist-item" class="code-block">
                    <h3>Create a Bucketlist Item</h3>
                    <p>This endpoint creates a new bucketlist item.</p>

                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">POST http://buckit-api.herokuapp.com/api/bucketlists/1/items?name=&lt;name&gt;</code></p>

                    <h4 id="query-parameters">Query Parameters</h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>true</td>
                            <td>This sets the name of the bucketlist to be created.</td>
                            </tr>
                            <tr>
                            <td>done</td>
                            <td>false</td>
                            <td>false</td>
                            <td>This sets true or false depending on if the item has been accomplished or not.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="get-all-bucketlist-items" class="code-block">
                    <h3>Get All Bucketlist Items</h3>
                    <p>This endpoint retrieves all bucketlist items.</p>
                    <h4 id="http-request">HTTP Request</h4>

                    <p><strong>Searching</strong></p>

                    <p>Users can search for a bucket list item by name using a query parameter q.</p>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;/items?q=&lt;q&gt;</code></p>

                    <p class="example">Example:</p>

                    <p><em>Request</em>: GET http://buckit-api.herokuapp.com/api/bucketlists/1/items?q=myitem</p>

                    <p><em>Response</em>: Bucketlist (with id = 1) item with the string <code class="prettyprint">myitem</code> as its name.</p>

                    <p><strong>Pagination</strong></p>

                    <p>The bucketlist items can be paginated such that users can specify the number of items they would like to have using query parameters page and limit.</p>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;/items?page=&lt;page&gt;&amp;limit=&lt;limit&gt;</code></p>

                    <p class="example">Example:</p>

                    <p><em>Request</em>: GET http://buckit-api.herokuapp.com/api/bucketlists/1/items?page=2&amp;limit=5</p>

                    <p><em>Response</em>: <code class="prettyprint">5</code> items in bucketlist (with id = 1) starting from the 6th item. First page would have items 1 to 5.</p>
                    <h4 id="query-parameters">Query Parameters</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>q</td>
                            <td>-</td>
                            <td>false</td>
                            <td>This finds a bucketlist item with name = <code class="prettyprint">q</code>.</td>
                            </tr>
                            <tr>
                            <td>page</td>
                            <td>1</td>
                            <td>false</td>
                            <td>This sets a specified page with the specified number of items.</td>
                            </tr>
                            <tr>
                            <td>limit</td>
                            <td>20</td>
                            <td>false</td>
                            <td>This sets the specified number of items on a page. The maximum limit is 100.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="get-a-bucketlist-item" class="code-block">
                    <h3>Get a Bucketlist Item</h3>
                    <p>This endpoint retrieves a bucketlist item with id = <code class="prettyprint">&lt;item_id&gt;</code>.</p>
                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">GET http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;/items/&lt;item_id&gt;</code></p>

                    <h3 id="query-parameters">Query Parameters</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>true</td>
                            <td>This sets the name of the bucketlist item to be created.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="update-a-bucketlist-item" class="code-block">
                    <h3>Update a Bucketlist Item</h3>
                    <p>This endpoint updates a bucketlist item with id = <code class="prettyprint">&lt;item_id&gt;</code>.</p>

                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">PUT http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;/items/&lt;item_id&gt;?name=&lt;name&gt;&amp;done=&lt;done&gt;</code></p>

                    <h4 id="query-parameters">Query Parameters</h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Parameter</th>
                            <th>Default</th>
                            <th>Required</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>name</td>
                            <td>-</td>
                            <td>false</td>
                            <td>This updates the name of the bucketlist.</td>
                            </tr>
                            <tr>
                            <td>done</td>
                            <td>-</td>
                            <td>false</td>
                            <td>This updates the done attribute of the bucketlist.</td>
                            </tr>
                        </tbody>
                    </table>

                    <p><strong>NB</strong> At least one parameter must be used in updating a bucketlist item</p>
                </section>
                <section id="delete-a-bucketlist-item" class="code-block">
                    <h3>Delete a Bucketlist Item</h3>
                    <p>This endpoint deletes a bucketlist item with id = <code class="prettyprint">&lt;id&gt;</code>.</p>

                    <h4 id="http-request">HTTP Request</h4>

                    <p><code class="prettyprint">DELETE http://buckit-api.herokuapp.com/api/bucketlists/&lt;id&gt;/items/&lt;item_id&gt;</code></p>

                    <h4 id="query-parameters">Query Parameters</h4>

                    <p>This command does not require any parameter.</p>
                </section>
            </article>
            <br />
        </section>
    </div>
</div>