<nav id="affix-nav" class="sidebar col-md-2 col-sm-2 hidden-xs">
    <ul class="nav sidenav" data-spy="affix" data-offset-top="50">
        <li class="active"><a href="#introduction">Introduction</a>
        </li>
        <li><a href="#authentication">Authentication</a>
            <ul class="nav">   
                <li><a href="#signing-up">Signing up</a></li>
                <li><a href="#logging-in">Logging in</a></li>
            </ul>
        </li>
        <li><a href="#get-your-application-started">Get your App Started</a>
        </li>
        <li><a href="#authorization">Authorization</a>
            <ul class="nav">   
                <li><a href="#using-oauth2">Using Oauth2</a></li>
            </ul>
        </li>
        <li><a href="#endpoints">Endpoints</a>
            <ul class="nav">   
                <li><a href="#create-a-bucketlist">Create a Bucketlist</a></li>
                <li><a href="#get-all-bucketlists">Get All Bucketlists</a></li>
                <li><a href="#get-a-bucketlist">Get a Bucketlist</a></li>
                <li><a href="#update-a-bucketlist">Update a Bucketlist</a></li>
                <li><a href="#delete-a-bucketlist">Delete a Bucketlist</a></li>
                <li><a href="#create-a-bucketlist-item">Create a Bucketlist Item</a></li>
                <li><a href="#get-all-bucketlist-items">Get All Bucketlist Items</a></li>
                <li><a href="#get-a-bucketlist-item">Get a Bucketlist Item</a></li>
                <li><a href="#update-a-bucketlist-item">Update a Bucketlist Item</a></li>
                <li><a href="#delete-a-bucketlist-item">Delete a Bucketlist Item</a></li>
            </ul>
        </li>
    </ul>
</nav>