<section id="intro-section" class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="intro-caption">
                    <h1>Buck<span class="theme-blue">it</span></h1>
                    <div class="ripple"></div>
                    <p>What would you love to do before you kick the bucket?<br>
                    Get started with your favourite API for managing your bucketlists.</p>
                </div>
            </div>
        </div>
    </div>
</section>

